.expandIcon {
  color: #727273;
}

.caretIcon {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  margin-top: 75px;
}

.caretIcon--cima{
  margin-top: 205px;
}

.caretIcon--cima-prazo{
  margin-top: 505px;
}

.caretIcon--cima-pgto{
  margin-top: 235px;
}
.caretIcon--cima-trocas{
  margin-top: 325px;
}
.caretIcon--cima-seguro{
  margin-top: 326px;
}
.caretIcon--cima-promocao{
  margin-top: 205px;
}

.caretIcon--cima-aproveitar{
  margin-top: 235px;
}

