.link--texto-linha-login-mobile,
.label--texto-linha-login-mobile {
  color: white;
  text-decoration: none;

}


.link--link-menu-institucionais {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.childrenContainer--link-menu-institucionais {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.childrenContainer--link-menu-institucionais .link--item-menu-institucionais{
  text-decoration: none;
}

.childrenContainer--link-categorias
{
  display: flex;
  justify-content: center;
}
